html {
  box-sizing: border-box;
  font-size: 18px;
  font-family: "Lato", -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  color: #444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  background: linear-gradient(50deg, rgb(56, 168, 238), rgba(182, 107, 235), rgb(56, 168, 238));
}

.background-overlay {
  width: 100%;
  height: 100%;
  padding: 0 50px;
  background-color: rgba(255, 255, 255, 1);
}

h1, h2, h3, p {
  padding: 0;
  margin: 0;
  
}

h1 {
  font-size: 2.2rem;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.05), 
  0px 0px 15px rgba(0, 0, 0, 0.03);
}

h2 {
  font-size: 1.5rem;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05), 
  0px 1px 15px rgba(0, 0, 0, 0.05);
}

h3 {
  font-weight: 400;
  padding: 0.3rem;
}

p {
  padding: 0.4rem;
  /* text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05), 
  0px 1px 15px rgba(0, 0, 0, 0.05); */
  font-weight: 400;
}

hr {
  background-image: linear-gradient(to right, rgba(145, 143, 124, 0) 0%, rgba(145, 143, 124, 0.6) 35%, rgba(145, 143, 124, 0.6) 65%, rgba(145, 143, 124, 0) 100%);
  border: none;
  height: 1px;
  min-height: 1px;
}




/*
  HEADER
*/
header {
  width: 100%;
  height: 60px;
  margin-bottom: 70px;
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.logo-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: auto;
}
.logo-group>span {
  font-size: 1.3rem;
  font-weight: 700;
  padding-left: 5px;
}

.logo-group img {
  width: 50px;
}

header>img {
  width: 50px;
  padding: 8px;
  cursor: pointer;
}

header>img:hover {
  transform: scale(1.2);
  /* border: 3px solid rgb(20, 20, 141); */
}



/*
  MAIN POSITIONING
*/
main {
  display: grid;
  grid-template-columns: 2fr 5fr 2fr;
  grid-template-areas: "left center right";
}

.left-sidebar {
  grid-area: "left";
}

.center-column {
  grid-area: "center";
  border-radius: 30px;
  position: relative;
  top: -90px;
  box-shadow: 0px 20px 40px 20px rgba(101, 75, 109, 0.1);
  background-color: rgba(255, 255, 255, 0.5);
}

.right-sidebar {
  grid-area: "right";
}



/*
  CARD STYLES
*/
.left-sidebar {
  padding-right: 30px;
}
.right-sidebar {
  padding-left: 30px;
}

.small-card {
  margin-bottom: 40px;
}

.small-card-title {
  margin-bottom: 12px;
}

.left-sidebar .small-card-title {
  text-align: right;
}

.single-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.single-item>p {
  display: inline-block;
}

.left-sidebar hr, .right-sidebar hr {
  border: none;
  height: 1px;
  min-height: 1px;
  margin-top: 0;
}

.left-sidebar hr {
  background-image: linear-gradient(to left, rgba(105, 103, 89, 0.6) 0%, rgba(105, 103, 89, 0.6) 15%, rgba(105, 103, 89, 0) 80%);
}

.right-sidebar hr {
  background-image: linear-gradient(to right, rgba(105, 103, 89, 0.6) 0%, rgba(105, 103, 89, 0.6) 15%, rgba(105, 103, 89, 0) 80%);
}

.small-card.ticker p {
  font-size: 1.15rem;
}

.small-ticker-value {
  font-weight: 500;
}

.up-arrow, .down-arrow {
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.08), 
  0px 0px 15px rgba(0, 0, 0, 0.03);
}

.up-arrow {
  color: #52E2C1;
  /* color: #4ed9b8; */
  font-weight: 700;
}

.down-arrow {
  color: #E1285B;
  font-weight: 700;
}


/*
  CENTER COLUMN
*/
.center-column {
  padding: 40px 50px;
  margin: 0 10px;
}

.page-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  /* font-size: 1.7rem; */
  font-weight: 400;
}

.full-graph {
  width: 60%;
  margin: 0 auto;
  display: block;
}

.large-card {
  margin-bottom: 30px;
}

.position-row {
  display: grid;
  grid-template-columns: 4fr 5fr 5fr 5fr;
  margin: 10px 0;
}

.position-row>h2 {
  font-weight: 400;
  font-size: 1.3rem;
}

.position-row.position-title>h2 {
  font-weight: 700;
  font-size: 1.5rem;
}

.buy-sell {
  display: grid;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.1), 
  1px 1px 2px 0px rgba(0, 0, 0, 0.2),
  3px 3px 5px 3px rgba(0, 0, 0, 0.03);
  border-radius: 10px;
}

.buy-button, .sell-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border: none;
  padding: 0 8px;
  font-weight: 700;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2), 
  0px 0px 5px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.11) inset;
  cursor: pointer;
}

.buy-button:hover, .sell-button:hover {
  transform: scale(1.1);
}

.buy-button {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-color: #328A76;
  /* box-shadow: 1px 1px 5px 3px #328A76; */
  border-right: none;
  background-color: #4ed9b8;
}

.sell-button {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-color: #921A3B;
  border-left: none;
  background-color: #E1285B;
}

.up-down-percent {
  text-align: center;
}

.position-amount {
  text-align: right;
}

.view-all-button {
  display: inline-block;
  padding: 3px 15px;
  border-radius: 10px;
  border: 1px solid black;
  margin: 0 auto;
}

.view-all-button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}