<form action="/users/signup" method="POST">
    <label>
        First Name
        <input type="text" aria-placeholder="First Name" name="first_name">
    </label>
    <label>
        Last Name
        <input type="text" aria-placeholder="Last Name" name="last_name">
    </label>
    <label>Email
        <input type="text" aria-placeholder="Email Address" name="email_address">
    </label>
    <label>
        Select a Password
        <input type="password" aria-placeholder="Set Your Password" name="password">
    </label>
    <button type="submit">Create my Account</button>
</form>