<head>

</head>
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/stylesheets/home.css">
</head>

<body>
    <div class="header-background-overlay"></div>
    <div class="background-overlay">

        <header>
            <div class="logo-group">
                <img src="images/pancakes.svg">
                <span>Goldman Stacks</span>
            </div>
            <h2 class="hide-on-mobile">${userFirstName}</h2>
            <img src="images/magnifying-glass.svg">
            <a href="/users/logout"><img src="images/logout.svg"></a>
        </header>

        <main>

            <div class="left-sidebar">

                <div class="indices small-card ticker">
                    <h2 class="small-card-title">Market</h2>

                    <hr> ${topEarnerData.map(info => `
                    <div class="single-item">
                        <p>${info.symbol}</p>
                        <p class="small-ticker-value">
                            <span class=${info.changePercent> 0 ? 'up-arrow ' : 'down-arrow' }>${info.changePercent>0 ? '&uarr;' : '&darr;'}</span> ${( info.changePercent * 100).toFixed(1)}%</p>
                    </div>
                    `).join(' ')}
                </div>


                <!-- <div class="single-item">
                        <p>S&P 500</p>
                        <p class="small-ticker-value"><span class="up-arrow">&uarr;</span> 1.1%</p>
                    </div>
                    <div class="single-item">
                        <p>Russell 1000</p>
                        <p class="small-ticker-value"><span class="up-arrow">&uarr;</span> 1.0%</p>
                    </div>
                    <div class="single-item">
                        <p>Russell 2000</p>
                        <p class="small-ticker-value"><span class="up-arrow">&uarr;</span> 1.6%</p>
                    </div>
                    <div class="single-item">
                        <p>MSCI EAFE</p>
                        <p class="small-ticker-value"><span class="up-arrow">&uarr;</span> 0.4%</p>
                    </div>
                </div> -->

                <div class="trending-stocks small-card ticker">
                    <h2 class="small-card-title">Trending</h2>

                    <hr> ${trendingData.map(info => `

                    <div class="single-item">
                        <p>${info.symbol}</p>
                        <p class="small-ticker-value">
                            <span class=${info.changePercent> 0 ? 'up-arrow ' : 'down-arrow' }>${info.changePercent>0 ? '&uarr;' : '&darr;'}</span> ${( info.changePercent * 100).toFixed(1)}%</p>
                    </div>
                    `).join(' ')}
                </div>

            </div>

            <div class="center-column">

                <div class="page-title">
                    <h1 class="your-portfolio">Your Portfolio</h1>
                    <h1><span class="up-arrow">&uarr;</span> $116,404</h1>
                </div>
                <hr>

                <img class="full-graph" src="images/pancakes.svg">

                <div class="large-card">

                    <div class="position-title position-row">
                        <h2>Today</h2>
                        <div class="hide-on-mobile"></div>
                        <h2 class="up-down-percent"><span class="up-arrow">&uarr;</span> 2.4%</h2>
                        <h2 class="position-amount"><span class="up-arrow">&uarr;</span> $3,917</h2>
                    </div>
                    <hr>
                    <div class="position-row">
                        <h2>AAPL</h2>
                        <div class="buy-sell">
                            <div class="buy-button">Buy</div>
                            <div class="sell-button">Sell</div>
                        </div>
                        <h2 class="up-down-percent"><span class="up-arrow">&uarr;</span> 4.0%</h2>
                        <h2 class="position-amount">$17,663</h2>
                    </div>
                    <div class="position-row">
                        <h2>GE</h2>
                        <div class="buy-sell">
                            <div class="buy-button">Buy</div>
                            <div class="sell-button">Sell</div>
                        </div>
                        <h2 class="up-down-percent"><span class="up-arrow">&uarr;</span> 1.6%</h2>
                        <h2 class="position-amount">$12,190</h2>
                    </div>
                    <div class="position-row">
                        <h2>FORD</h2>
                        <div class="buy-sell">
                            <div class="buy-button">Buy</div>
                            <div class="sell-button">Sell</div>
                        </div>
                        <h2 class="up-down-percent"><span class="up-arrow">&uarr;</span> 0.3%</h2>
                        <h2 class="position-amount">$14,707</h2>
                    </div>
                    <div class="position-row">
                        <h2>NFLX</h2>
                        <div class="buy-sell">
                            <div class="buy-button">Buy</div>
                            <div class="sell-button">Sell</div>
                        </div>
                        <h2 class="up-down-percent"><span class="down-arrow">&darr;</span> 0.7%</h2>
                        <h2 class="position-amount">$9,040</h2>
                    </div>
                    <div class="position-row">
                        <h2>ATVI</h2>
                        <div class="buy-sell">
                            <div class="buy-button">Buy</div>
                            <div class="sell-button">Sell</div>
                        </div>
                        <h2 class="up-down-percent"><span class="down-arrow">&darr;</span> 1.1%</h2>
                        <h2 class="position-amount">$12,128</h2>
                    </div>
                    <div class="view-all-button-wrapper">
                        <div class="view-all-button">View All</div>
                    </div>

                </div>

                <div class="large-card">

                    <h2>News For You</h2>
                    <hr>
                    <h3>Apple earnings beat analysts' wildest...</h2>
                    <h3>Ford announces new self-driving car that...</h2>
                    <h3>Amazon's purchase of Whole Foods is looking...</h2>
                    <h3>The class action lawsuit against Comcast...</h2>
                    <h3>IHG sees record growth in Q4 following the...</h2>

                </div>

            </div>

            <div class="right-sidebar">

                <div class="friend-leaderboard small-card ticker">
                    <h2 class="small-card-title">Leaderboard</h2>
                    <hr>
                    ${leaders.map(leader => `
                      <div class="single-item">
                        <p>${leader.name}</p>
                        <p class="small-ticker-value">
                          <span class=${(leader.portfolio_growth >= 0) ? (`"up-arrow">&uarr;`) : (`"down-arrow">&darr;`)}
                          </span> ${Math.round(leader.portfolio_growth * 1000) / 10}%</p>
                      </div>
                      `).join('')}
                </div>

                <div class="trending-news small-card">
                    <h2 class="small-card-title">In the News</h2>
                    <hr> 
                    ${newsData.map(info => `
                    <a href="${info.url}" target="_blank"><p>${info.title}</p></a>

                    `).join('')}

                </div>

            </div>

        </main>

        <footer>

        </footer>
    </div>
</body>