<head>

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/home.css">
</head>

<body>
    <div class="header-background-overlay"></div>
    <div class="background-overlay">

        <header>
            <div class="logo-group">
                <img src="/images/pancakes.svg">
                <span>Goldman Stacks</span>
            </div>
            <h2 class="hide-on-mobile">${userFirstName}</h2>
            <a href="/users/logout"><img src="/images/logout.svg"></a>
        </header>

        <main>

            <div class="left-sidebar">

                <div class="indices small-card ticker">
                    <h2 class="small-card-title">Market</h2>

                    <hr>



                    <div class="single-item">
                        <p>S&P 500</p>
                        <p class="small-ticker-value">
                            <span class=${market.SPY.quote.changePercent> 0 ? 'up-arrow ' : 'down-arrow' }>${market.SPY.quote.changePercent>0 ? '&uarr;' : '&darr;'}</span> ${( market.SPY.quote.changePercent * 100).toFixed(1)}%</p>
                    </div>

                    <div class="single-item">
                        <p>Russell 1000</p>
                        <p class="small-ticker-value">
                            <span class=${market.IWB.quote.changePercent> 0 ? 'up-arrow ' : 'down-arrow' }>${market.IWB.quote.changePercent>0 ? '&uarr;' : '&darr;'}</span> ${( market.IWB.quote.changePercent * 100).toFixed(1)}%</p>
                    </div>

                    <div class="single-item">
                        <p>Russell 2000</p>
                        <p class="small-ticker-value">
                            <span class=${market.IWM.quote.changePercent> 0 ? 'up-arrow ' : 'down-arrow' }>${market.IWM.quote.changePercent>0 ? '&uarr;' : '&darr;'}</span> ${( market.IWM.quote.changePercent * 100).toFixed(1)}%</p>
                    </div>

                    <div class="single-item">
                        <p>MSCI EAFE</p>
                        <p class="small-ticker-value">
                            <span class=${market.EFA.quote.changePercent> 0 ? 'up-arrow ' : 'down-arrow' }>${market.EFA.quote.changePercent>0 ? '&uarr;' : '&darr;'}</span> ${( market.EFA.quote.changePercent * 100).toFixed(1)}%</p>
                    </div>

                </div>

                <div class="trending-stocks small-card ticker">
                    <h2 class="small-card-title">Trending</h2>

                    <hr> ${trendingData.map(info => `

                    <div class="single-item">
                        <a href="/ticker/${info.symbol}">
                          <p>${info.symbol}</p>
                        </a>
                        <p class="small-ticker-value">
                            <span class=${info.changePercent> 0 ? 'up-arrow ' : 'down-arrow' }>${info.changePercent>0 ? '&uarr;' : '&darr;'}</span> ${( info.changePercent * 100).toFixed(1)}%</p>
                    </div>
                    `).join(' ')}
                </div>

            </div>

            <div class="center-column">

                <div class="page-title">
                    <h1 class="your-portfolio">Your Portfolio</h1>
                    <h1 class="portfolio-value"><span class=${(portVals.totalPortfolio.valueChange>= 0) ? (`"up-arrow">&uarr;`) : (`"down-arrow">&darr;`)}
                    </span> ${portVals.totalPortfolio.totalValue}</h1>
                </div>
                <hr>

                <div class="search-bar-container">
                    <em>Enter a Ticker:</em>
                    <div class="searchBar">
                        <img src="/images/magnifying-glass.svg">
                        <form action="/ticker" method="POST" id="search_form">
                            <input type="text" name="ticker" id="tickerValue">
                        </form>
                    </div>
                </div>

                <div class="large-card">

                    <div class="position-title position-row">
                        <h2>Today</h2>
                        <div class="hide-on-mobile"></div>
                        <h2 class="up-down-percent"><span class=${(portVals.totalPortfolio.valueChange>= 0) ? (`"up-arrow">&uarr;`) : (`"down-arrow">&darr;`)}
                          </span> ${portVals.totalPortfolio.valueChangePercent}</h2>
                        <h2 class="position-amount"><span class=${(portVals.totalPortfolio.valueChange>= 0) ? (`"up-arrow">&uarr;`) : (`"down-arrow">&darr;`)}
                          </span> ${portVals.totalPortfolio.valueChangeStr}</h2>
                    </div>
                    <hr>

                    <div class="position-row">
                        <h2>Cash</h2>
                        <div class="hide-on-mobile"></div>
                        <h2 class="up-down-percent"></h2>
                        <h2 class="position-amount">${portVals.cash}</h2>
                    </div>

                    ${portVals.positions.map(item => `
                    <div class="position-row">
                        <h2><a href="/ticker/${item.symbol}">${item.symbol}</a></h2>
                        <div class="buy-sell">
                            <a href="/ticker/${item.symbol}">
                              <div class="buy-button">Buy</div>
                            </a>
                            <a href="/ticker/${item.symbol}">
                              <div class="sell-button">Sell</div>
                            </a>
                          
                        </div>
                        <h2 class="up-down-percent"><span class=${(item.valueChange>= 0) ? (`"up-arrow">&uarr;`) : (`"down-arrow">&darr;`)}
                            </span> ${item.changePercent}</h2>
                        <h2 class="position-amount">${item.value}</h2>
                    </div>
                    `).join('')}

                </div>

                <div class="large-card">

                    <h2>News For You</h2>
                    <hr> ${portVals.news.map(item => `
                    <a href="${item.url}" target="_blank">
                        <h3>${item.symbol}: &nbsp;${item.headline}</h3>
                    </a>
                    `).join('')}

                </div>

            </div>

            <div class="right-sidebar">

                <div class="friend-leaderboard small-card ticker">
                    <h2 class="small-card-title">Leaderboard</h2>
                    <hr> ${leaders.map(leader => `
                    <div class="single-item">
                        <p>${leader.name}</p>
                        <p class="small-ticker-value">
                            <span class=${(leader.portfolio_growth>= 0) ? (`"up-arrow">&uarr;`) : (`"down-arrow">&darr;`)}
                          </span> ${Math.round(leader.portfolio_growth * 1000) / 10}%</p>
                    </div>
                    `).join('')}
                </div>

                <div class="trending-news small-card">
                    <h2 class="small-card-title">In the News</h2>
                    <hr> ${newsData.map(info => `
                    <a href="${info.url}" target="_blank">
                        <p>${info.title}</p>
                    </a>
                    `).join('')}

                </div>

            </div>

        </main>

        <footer>

        </footer>
    </div>
    <script src="../scripts/tickerList.js"></script>

</body>