<head>
    <link rel="stylesheet" href="../stylesheets/signup.css">
</head>

<div class="title-ctn">
    <h1>Create Your Portfolio</h1>
    <h5>Create your account to have access to our site</h5>
</div>

<main class="main-ctn">

    <div class="signup--wrapper">
        <form action="/users/signup" method="POST">

            <label>First Name
                <input type="text" aria-placeholder="First Name" name="first_name">
            </label>
            <br>

            <label>Last Name
                <input type="text" aria-placeholder="Last Name" name="last_name">
            </label>
            <br>

            <label>Email Address
                <input type="text" aria-placeholder="Email Address" name="email_address">
            </label>
            <br>

            <label>Select a Password
                <input type="password" aria-placeholder="Set Your Password" name="password">
            </label>
            <br>

            <label>Comfirm Password
                <input type="password" aria-placeholder="Comfirm Your Password" name="comfirm_password">
            </label>
            <br>

            <button type="submit">Create my Account</button>

        </form>
    </div>
</main>