<head>
    <title>Goldman Stacks</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/indexStyles.css">
</head>

<body>
    <div class="header-background-overlay"></div>
    <div class="background-overlay">
      
      <header>
        <div class="logo-group">
          <img src="images/pancakes.svg" alt="pancake icon">
          <span>Goldman Stacks</span>
        </div>
      </header>

      <main>

        <div class="center-column">

          <div class="page-title">
            <img class="large-logo-img" src="images/pancakes.svg" alt="pancake logo">
            <h1 class="logo-title">Goldman Stacks</h1>
          </div>
          <hr>
          <h2 class="subtitle">The free stock-trading simulation.</h2>

          <div class="large-card">

            <div id="signup-row" class="signup-row hide-row">
              <div class="signup-message">
                <h2>Sign up for a free account!</h2>
                <div id="login-instead-button" class="login-instead-button">Log In Instead</div>
              </div>
              
              <form action="/users/signup" method="POST" role="form">
      
                <label>First Name
                  <input type="text" aria-label="First Name" name="first_name">
                </label>
                <br>
    
                <label>Last Name
                  <input type="text" aria-label="Last Name" name="last_name">
                </label>
                <br>
    
                <label>Email Address
                  <input type="email" aria-label="Email Address" name="email_address">
                </label>
                <br>
    
                <label>Select Password
                  <input type="password" aria-label="Set Your Password" name="password">
                </label>
                <br>
    
                <label>Comfirm Password
                  <input type="password" aria-label="Comfirm Your Password" name="comfirm_password">
                </label>
                            <br>

                            <button type="submit" class="submit-form-button">Create Account</button>

                        </form>
                    </div>

                    <div id="login-row" class="signup-row">
                        <div class="signup-message">
                            <h2>Log in to get started!</h2>
                            <div id="signup-instead-button" class="login-instead-button">Sign Up Instead</div>
                        </div>

                        <form action="/users/login" method="POST">

                            <label>Email Address
                    <input type="email" aria-placeholder="Email Address" name="email_address">
                </label>
                            <br>

                <label>Password
                    <input type="password" aria-label="Password" name="password">
                </label>
                            <br>

                            <button type="submit" class="submit-form-button">Log In</button>

                        </form>
                    </div>

                    <hr>


                </div>


            </div>

        </main>

    </div>
    <script src="/scripts/indexScripts.js" type="text/javascript"></script>
</body>

</html>