html {
    box-sizing: border-box;
    font-size: 18px;
    font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #333;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(50deg, rgb(202, 243, 252), rgb(243, 224, 255), rgb(202, 243, 252));
}

.background-overlay {
    width: 100%;
    height: 100%;
    padding: 0 50px;
    /* background-color: rgba(255, 255, 255, 1); */
}

h1,
h2,
h3,
p {
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 2.2rem;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.15), 0px 0px 15px rgba(0, 0, 0, 0.06);
    font-weight: 400;
    color: #222;
}

h2 {
    font-size: 1.5rem;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05), 0px 1px 15px rgba(0, 0, 0, 0.05);
}

h3 {
    font-weight: 400;
    padding: 0.3rem;
}

p {
    padding: 0.4rem;
    /* text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05), 
0px 1px 15px rgba(0, 0, 0, 0.05); */
    font-weight: 400;
}

hr {
    background-image: linear-gradient(to right, rgba(105, 103, 89, 0) 0%, rgba(105, 103, 89, 0.6) 35%, rgba(105, 103, 89, 0.6) 65%, rgba(105, 103, 89, 0) 100%);
    border: none;
    height: 1px;
    min-height: 1px;
}

.mobile-only {
    display: none;
}


/*
HEADER
*/

header {
    width: 100%;
    height: 60px;
    margin-bottom: 70px;
    padding-top: 10px;
    /* margin-left: -50px;
margin-right: -50px; */
    /* padding-left: 50px;
padding-right: 50px; */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    color: #fff;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.18), 0px 0px 15px rgba(0, 0, 0, 0.05);
}

.header-background-overlay {
    position: fixed;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
    top: 0;
    left: 0;
    right: 0;
    height: 150px;
    z-index: -5;
}

.logo-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: auto;
}

.logo-group>span {
    font-size: 1.3rem;
    font-weight: 700;
    padding-left: 5px;
}

.logo-group img {
    width: 50px;
}

header>img,
header>a>img {
    width: 50px;
    padding: 8px;
    margin-left: 5px;
    cursor: pointer;
}

header>img:hover,
header>a>img:hover {
    transform: scale(1.2);
    /* border: 3px solid rgb(20, 20, 141); */
}


/*
MAIN POSITIONING
*/

main {
    display: grid;
    grid-template-columns: 2fr 5fr 2fr;
    grid-template-areas: "left center right";
}

.left-sidebar {
    grid-area: left;
}

.center-column {
    grid-area: center;
    position: relative;
    top: -90px;
    box-shadow: 0px 20px 40px 20px rgba(101, 75, 109, 0.2), 0px 10px 10px 5px rgba(101, 75, 109, 0.15);
    background-color: rgba(255, 255, 255, 0.5);
}

.right-sidebar {
    grid-area: right;
}


/*
CARD STYLES
*/

.left-sidebar {
    padding-right: 30px;
}

.right-sidebar {
    padding-left: 30px;
}

.small-card {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    margin: -10px -15px;
    padding: 10px 15px;
    margin-bottom: 40px;
    box-shadow: 0px 20px 40px 20px rgba(101, 75, 109, 0.1), 0px 10px 10px 5px rgba(101, 75, 109, 0.05);
}

.small-card-title {
    margin-bottom: 12px;
}

.left-sidebar .small-card-title {
    text-align: right;
}

.single-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.single-item>p {
    display: inline-block;
}

.left-sidebar hr,
.right-sidebar hr {
    border: none;
    height: 1px;
    min-height: 1px;
    margin-top: 0;
}

.left-sidebar hr {
    background-image: linear-gradient(to left, rgba(105, 103, 89, 0.6) 0%, rgba(105, 103, 89, 0.6) 15%, rgba(105, 103, 89, 0) 80%);
}

.right-sidebar hr {
    background-image: linear-gradient(to right, rgba(105, 103, 89, 0.6) 0%, rgba(105, 103, 89, 0.6) 15%, rgba(105, 103, 89, 0) 80%);
}

.small-card.ticker p {
    font-size: 1.15rem;
}

.small-ticker-value {
    font-weight: 500;
}

.trending-news a {
    color: inherit;
    text-decoration: none;
}

.trending-news a:hover {
    text-decoration: underline;
}

.up-arrow,
.down-arrow {
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.1), 5px 5px 10px rgba(0, 0, 0, 0.05);
    font-weight: 700;
}

h1 .up-arrow,
h1 .down-arrow {
    font-weight: 700;
}

.up-arrow {
    /* color: rgb(32, 220, 163); */
    color: #4ed9b8;
    /* color: rgb(43, 213, 142); */
}

.down-arrow {
    color: #E1285B;
    /* color: rgb(238, 95, 95); */
}


/*
CENTER COLUMN
*/

.center-column {
    padding: 40px 50px;
    margin: 0 10px;
    border-radius: 30px;
}

.page-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 15px 10px;
    font-weight: 700;
}

.full-graph {
    width: 60%;
    margin: 0 auto;
    display: block;
}

.large-card {
    margin-bottom: 30px;
}

.large-card a {
    color: inherit;
    text-decoration: none;
}

.large-card a:hover {
    text-decoration: underline;
}

.position-row {
    display: grid;
    grid-template-columns: 4fr 5fr 5fr 5fr;
    margin: 10px 0;
}

.position-row>h2 {
    font-weight: 500;
    font-size: 1.3rem;
}

.position-row.position-title>h2 {
    font-weight: 700;
    font-size: 1.5rem;
}

.buy-sell {
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.1), 1px 1px 2px 0px rgba(0, 0, 0, 0.2), 3px 3px 5px 3px rgba(0, 0, 0, 0.03);
    border-radius: 10px;
}

.buy-button,
.sell-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border: none;
    padding: 0 8px;
    font-weight: 700;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2), 0px 0px 5px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.11) inset;
    cursor: pointer;
    transition: 100ms ease all;
}

.buy-button:hover,
.sell-button:hover {
    transform: scale(1.1);
}

.buy-button {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-color: #328A76;
    /* box-shadow: 1px 1px 5px 3px #328A76; */
    border-right: none;
    background-color: #4ed9b8;
}

.sell-button {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-color: #921A3B;
    border-left: none;
    background-color: #E1285B;
}

.up-down-percent {
    text-align: center;
}

.position-amount {
    text-align: right;
}

.view-all-button {
    display: inline-block;
    padding: 3px 15px;
    border-radius: 10px;
    border: 2px solid #aaa;
    background-color: rgba(255, 255, 255, 0.3);
    margin: 5px auto;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.15), 3px 3px 5px 3px rgba(0, 0, 0, 0.05);
    color: #444;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2), 0px 0px 5px rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.view-all-button:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

.view-all-button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media only screen and (max-width: 1100px) {
    main {
        grid-template-columns: 2fr 5fr;
        grid-template-rows: minmax(0, 1fr);
        grid-template-areas: "left center" "right center";
    }
    .center-column {
        grid-row-end: span 2;
        top: -10px;
        margin-bottom: auto;
        margin-right: -15px;
        padding: 30px;
    }
    .right-sidebar {
        padding-right: 30px;
        padding-left: 0;
    }
    .right-sidebar .small-card-title {
        text-align: right;
    }
    .right-sidebar hr {
        background-image: linear-gradient(to left, rgba(105, 103, 89, 0.6) 0%, rgba(105, 103, 89, 0.6) 15%, rgba(105, 103, 89, 0) 80%);
    }
    header {
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 960px) {
    html {
        font-size: 16px;
    }
}

@media only screen and (max-width: 870px) {
    html {
        font-size: 14px;
    }
}

@media only screen and (max-width: 767px) {
    html {
        font-size: 14px;
    }
    main {
        grid-template-columns: 1fr;
        grid-template-rows: minmax(0, max-content);
        grid-template-areas: "center" "left" "right";
        padding: 0;
        margin: 0;
        width: 100%;
    }
    .mobile-only {
        display: relative;
    }
    .center-column {
        grid-row-end: span 1;
        top: 0px;
        padding: 30px 30px 0 30px;
        margin-right: 10px;
    }
    .small-card {
        margin: 20px 10px;
        padding: 25px;
    }
    .right-sidebar .small-card-title,
    .left-sidebar .small-card-title {
        text-align: left;
    }
    .right-sidebar hr,
    .left-sidebar hr {
        background-image: linear-gradient(to right, rgba(105, 103, 89, 0.6) 0%, rgba(105, 103, 89, 0.6) 15%, rgba(105, 103, 89, 0) 80%);
    }
    .center-column {
        box-shadow: 0px 20px 40px 20px rgba(101, 75, 109, 0.1), 0px 10px 10px 5px rgba(101, 75, 109, 0.05);
    }
    .background-overlay {
        padding: 0 15px;
    }
    .left-sidebar,
    .right-sidebar {
        padding: 0;
    }
    .left-sidebar {
        margin-bottom: -20px;
    }
    .page-title {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .your-portfolio {
        font-weight: 700;
        font-size: 2.5rem;
        margin-bottom: 10px;
    }
    .position-row {
        grid-template-columns: 4fr 5fr 5fr;
    }
    .buy-sell {
        display: none;
    }
    .hide-on-mobile {
        display: none;
    }
    .small-card .single-item p {
        font-size: 1.5rem;
    }
    .trending-news.small-card p {
        font-size: 1.4rem;
    }
    .logo-group span {
        font-size: 1.7rem;
    }
}