* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

.title-ctn {
    text-align: center;
    top: 10vh;
}

.title-ctn h1 {}

.title-ctn h5 {}

.main-ctn {
    text-align: center;
}

.signup--wrapper {
    display: inline-block;
    padding: 30px;
    border: solid black;
}

.signup--wrapper form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.signup--wrapper form input {
    margin-left: 100px;
}